*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{

    font-size: 10px;

}

body{

    background-image: url('backzito.webp');
    background-size: 100% 100%;     
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; 
    margin: 0;                     
    width: 100vw;                   
    height: 100vh;                  
    overflow-x: hidden;             
}

.tittlee{

    color: white;
    font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
    display: flex;
    justify-content: center;
    

}

.fath{

    position: relative;
    left: 18rem;
    width: 100rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
    background-color: aqua;

}

.parte1 img{

    width: 20rem;

}

.parte1 p{

    font-size: 2rem;
    color: white;

}

.parte1{

    width: 20rem;
    display: flex;
    align-items: center;

}

.cont1{

    
    width: 20rem;
    height: 18rem;
    text-align: center;

}

.parte2 img{

    width: 20rem;

}

.parte2 p{

    font-size: 2rem;
    color: white;

}

.parte2{


    width: 20rem;
    display: flex;
    align-items: center;

}

.cont2{

    
    width: 20rem;
    height: 18rem;
    text-align: center;

}

.parte3 img{

    width: 20rem;

}

.parte3 p{

    font-size: 2rem;
    color: white;

}

.parte3{

    width: 20rem;
    display: flex;
    align-items: center;

}

.cont3{

    
    width: 20rem;
    height: 18rem;
    text-align: center;

}

.parte4 img,
.parte5 img,
.parte6 img,
.parte7 img,
.parte8 img,
.parte9 img,
.parte10 img{
    width: 20rem;
}

.parte4 p,
.parte5 p,
.parte6 p,
.parte7 p,
.parte8 p,
.parte9 p,
.parte10 p{
    font-size: 2rem;
    color: white;
}

.parte4,
.parte5,
.parte6,
.parte7,
.parte8,
.parte9,
.parte10{
    height: 25rem;
    display: flex;
}

.cont4,
.cont5,
.cont6,
.cont7,
.cont8,
.cont9,
.cont10{
    width: 25rem;
}