*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-image: url('backzito.webp');
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;                     
    width: 100vw;                   
    min-height: 100vh;                  
    overflow-x: hidden;             
}

.tittlee{
    color: white;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

.fath {
    position: relative;
    left: 18rem;
    width: 100rem;
    display: flex;
    flex-wrap: wrap;
}

.parte {
    width: 33.33%; 
    display: flex;
    justify-content: center;
}

.cont {
    width: 22rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.parte img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 20px;
}

.parte p {
    font-family: "Saira Semi Condensed", sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
}

.botaao{

    background: #EFB653;
    color: #1D3280;
    font-family: "Saira Semi Condensed", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 1.2rem;
    cursor: pointer;
    margin: 4rem auto;
    

}
