body {
    background-image: url('backzito.webp');
    background-size: 100% 100%;     
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; 
    margin: 0;                     
    width: 100vw;                   
    height: 100vh;                  

    overflow-x: hidden;             
}


.padaria{

align-self: center;
}

.pao{
text-align: center;
color: white;
}

.pao2{
 text-align: center ;
color: white;

}

.padoca{

margin-left: 25rem;
margin-top: 3rem;
border-radius: 1.5rem;
}


    overflow-x: hidden; 
            
}

.Menunu{
    display: flex;
    justify-content: center; 
}

.Menu{
    width: 80%;
    height: 100px;
    background-color: #0041e6;
    background-image: url(diagmonds.png);
    border-radius: 30px;
    border: 2.2px solid #ffffff;
}

.logo{
    width: 75px;
}

